* text=auto

*.c text eol=lf
*.h text eol=lf
*.sh text eol=lf
*.md text eol=lf
*.txt text eol=lf
Makefile text eol=lf

*.bat text eol=crlf
evidence/firmware/bua-hac.lst -text
evidence/memcal/Resistors.txt -text -diff
